.header {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative; 
    margin-bottom: 50px;
}

.conteinerlogo {
    display: flex;
    align-items: center;
}

.nav {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.navContainer {
    display: flex; 
    justify-content: center; 
}

.title {
    color: white;
    font-size: 40px;
}

.link {
    font-size: 35px;
    color: white; 
    text-decoration: none; 
}

.content2 {
    background-color: #1E1E1E;
    width: 1709px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.subtitle {
    color: white;
    font-size: 40px;
}

.content {
    display: flex;
    justify-content: center;
}
.input1 {
    border: 0px;
    padding: 0px;
    background-color: #3D3D3D;
    border-radius: 20px;
    width: 1400px;
    height: 6px;
    color: white;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}


.input2 {
    border: 0px;
    padding: 0px;
    background-color: #3D3D3D;
    border-radius: 20px;
    width: 400px;
    height: 6px;
    color: white;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 40px;
    margin-right: 1000px;
}

.textarea {
    border: 0px;
    padding: 0px;
    background-color: #3D3D3D;
    border-radius: 20px;
    width: 1400px;
    height: 146px;
    color: white;
    padding: 40px;
    font-size: 30px;
    margin-bottom: 40px;
    overflow: hidden; 
    resize: none; 
}

.button {
    border: 0px;
    padding: 10px;
    border-radius: 20px;
    background-color: #5B5B5B;
    color: white;
    width: 300px;
    height: 80px;

}

